@model IEnumerable<Nop.Plugin.Payments.ToDo.Model.Book>
@*@using DevExpress.Web.Mvc.UI*@

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToDoName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ToDoName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToDoDescription)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*@(Html.DevExtreme().DataGrid<Nop.Plugin.Payments.Book.Models.Book>()
    .DataSource(ds => ds.WebApi()
        .Controller("Books")
        .LoadAction("Get")
        .Key("ID")
    )
    .RemoteOperations(true)
    .Columns(columns =>
    {

        columns.AddFor(m => m.ID);

        columns.AddFor(m => m.BookName);

        columns.AddFor(m => m.BookDescription);
    })
)*@
